<section class="position-relative">
  <div class="container">
      <nav class="navbar navbar-expand-lg">
          <a class="navbar-brand" href="#"><img src="../assets/images/logo.png" alt="Logo"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarText">
            <ul class="navbar-nav">
              <li class="nav-item active">
                  <a class="nav-link" href="#">Products <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Solutions</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Pricing</a>
              </li>
              <li class="nav-item">
                  <a class="btn-login" href="#">Login</a>
              </li>
              <li class="nav-item">
                  <a class="btn-start" href="#">Get Started</a>
              </li>
            </ul>
            
          </div>
      </nav>
  </div>
  <img src="../assets/images/circle.png" class="circle" alt="circle">
</section>   
<section class="left-content">
  <div class="container">
      <div class="row">
          <div class="col-md-5 position-relative leftImg">
              <h2>We make it Super<br> Simple</h2>
              <img src="../assets/images/collect_img-video.png" class="w-100 mt-3 coll-img" alt="collect_img-video">
              <img src="../assets/images/accounting_dots.svg" class="act-dots" alt="dots">
          </div>
          <div class="col-md-7">
              <div class="purple-wrapper p-3">
              <img src="../assets/images/Group 6@2x.png" class="w-100 mt-3" alt="Group-video">
              <img src="../assets/images/accounting_dots.svg" class="p-wrapper act-dots" alt="dots">
          </div>
          </div>
      </div>    
  </div>
  <img src="../assets/images/blob-small.svg" class="left-circle" alt="Blob">
</section> 
<section class="account-section">
  <div class="container">
      <div class="row">
          <div class="col-md-7">
              <div class="row">
                  <div class="col-md-6">
                      <div class="card mb-5" style="width: 18rem;">
                          <div class="card-body">
                              <img src="../assets/images/Get-Paid-Instantly.png" class="mb-3" alt="">
                              <h6 class="card-subtitle mb-2 text-muted">Quick cash disbursement</h6>
                              <p class="card-text">Get terms loans that your business needs within 72 hrs</p>
                          </div>
                      </div>
                      <div class="card mb-5" style="width: 18rem;">
                          <div class="card-body">
                              <img src="../assets/images/Low-interest-rate.png" class="mb-3" alt="">
                              <h6 class="card-subtitle mb-2 text-muted">Low-interest rate</h6>
                              <p class="card-text">Achieve your financial goals with an amazing interest rate starting at 13% per annum</p>
                          </div>
                      </div>
                      <div class="card mb-5" style="width: 18rem;">
                          <div class="card-body">
                              <img src="../assets/images/Secure-Payments.png" class="mb-3" alt="">
                              <h6 class="card-subtitle mb-2 text-muted">Zero Paperwork</h6>
                              <p class="card-text">Get started instantly by submitting only your basic details & bank statements</p>
                          </div>
                      </div>
                  </div>    
                  <div class="col-md-6">
                      <div class="card purple-bg mb-5" style="width: 18rem;">
                          <div class="card-body">
                              <img src="../assets/images/freelancer_feature.png" class="mb-3" alt="">
                              <h6 class="card-subtitle mb-2 text-muted">Ace your business finances</h6>
                              <p class="card-text">Manage banking, accounting & everything in between, on one platform</p>
                          </div>
                      </div>
                      <div class="card mb-5" style="width: 18rem;">
                          <div class="card-body">
                              <img src="../assets/images/Covid.png" class="mb-3" alt="">
                              <h6 class="card-subtitle mb-2 text-muted">Loans to fight COVID-19</h6>
                              <p class="card-text">Zero EMI for first 3 months on Back-to-Business loans of upto 1 lakh</p>
                          </div>
                      </div>
                  </div>
              </div>    
          </div>
          <div class="col-md-5 mt-5">
              <h2>Boost your business<br> with Open</h2>
              <p class="mt-5">Get your hands on a term loan that's crafted of your business</p>
              <a href="" class="btn-openAccount mt-5">Get an Open Account</a>
          </div>
      </div>
  </div>
</section>